version: "3.8"

services:
  mongodb:
    container_name: mongodb
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: test
      MONGO_INITDB_ROOT_PASSWORD: test
      MONGO_INITDB_DATABASE: test
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    # networks:
    #   - main-network

  node-app:
    container_name: node-app
    build:
      context: .
    environment:
      NODE_ENV: development
      PORT: 3000
      MONGODB_USER: test
      MONGODB_PASSWORD: test
      MONGODB_DATABASE: test
      MONGODB_HOST: mongodb
      MONGODB_PORT: 27017
    ports:
      - "3000:3000"
    # networks:
    #   - main-network
    depends_on:
      mongodb:
        condition: service_healthy
    restart: always

volumes:
  mongodb-data:
# networks:
#   main-network:
